@charset "utf-8";
/* CSS Document for game.html*/

h2 span{
    font-size: 5vh;
    margin-top: 0;
}
h3{
  border-bottom: 0.3vh solid white;
  line-height: 1.5vh;
  width: 100%;
  margin-top: 7%;
  margin-bottom: 10%;
  margin-left:0;
  margin-right:0;
  padding-top:0;
}
h3 span{
  background-color: #faf7e4;
  padding: 2vh 2vh;
  font-size: 4.2vh;
}
.reliability{
  position: relative;
  z-index: 5;
}
.reliability img{
  position: relative;
  width: 96%; 
  height: 96%; 
  left: -10%;       
}
.reliability p{
  position: absolute;
  width: 100%; 
  /*margin: 0;*/
  top: 34%;
  left: -40%;
  text-align: center;
}
.userinfo,
.headline{
  position: relative;
}
.headline img{
  position: relative;
  height: 180%; 
  width: 140%;
  left: -25.5%;
}
.headline p{
  position: absolute;
  width: 140%;
  margin: 0;
  top: 15%;
  left: -18%;
  text-align: left; 
  overflow: hidden;
  line-height: 4.15vmin;
  z-index: 6;
  height: 80px;
  margin-top: 5px;
}

/*.userinfo p
{
  position: absolute;
  width: 122%;
  margin: 0;
  top: 30%;
  left: 72%;
  text-align: left; 
  overflow: hidden;
  line-height: 4.15vmin;
  z-index: 6;
  font-size: 5vmin;
}*/
.matchimgdiv
{
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
/*.matchimg
{
  text-align: center;
}*/
.userinfo
{
  text-align: center;
  border: 0px solid #5f5248;
  border-radius: 5px;
  width: 40%;
  height: 15%;
  margin: 18px auto;
  line-height: 20px;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color:#3B75B3;
}
.userinfo a
{
  color: #00F;
}
.userinfoClick
{
  background-color: #06F;
}
.userinfoClick a
{
  color: #00F；
}
.userinfo img
{
  position: absolute;
  height: 100%; 
  width: 100%;
}
.userinfo p
{

}
/* mobile */
@media (max-width: 800px) {
  .userinfo
{
  width: 50%;
}
}
.sharebtn{
  position: relative;
  z-index: 5;
  text-align: right;
}
.sharebtn img{
  position: relative;
  width: 210%; 
  height: auto;
  left: -78%;      
}
.sharebtn p{
  position: absolute;
  width: 100%; 
  margin: 0;
  top: 32%;
  left: 5%;
  text-align: center;
  font-size: 4vmin;
}
.votes{
  position: relative;
  z-index: 5;
}
.votes img{
  position: relative;
  width: 96%; 
  height: 96%; 
  left:-5%;       
}
.votes p{
  position: absolute;
  width: 100%; 
  margin: 0;
  top: 26%;
  left: -12%;
  text-align: center; 
}
#confirmBlock{
  z-index: 7; 
  background-color:rgba(35, 35, 35, 0.85); 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0px; 
  left: 0px; 
  display: none;
}
.popupBox {
  position: relative;
  z-index: 8;
  margin: auto;
  font-family: 'PingFangSC-regular', sans-serif; 
}
.popupBox img{
  position: relative;
  width: 100%;  
  left: 3%;        
}
.newpopupbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 350px;
  background: white;
  border-radius: 20px;
  height: 450px;
  padding-top: 50px;
  font-size: 20px;
}
.popupBox p{
  position: absolute;
  width: 80%; 
  margin: 0;
  top: 25%;
  left: 12%; 
  text-align: center; 
  font-size:4vmin;
}

@media screen and (min-width: 800px) {
  .popupBox p{
    font-size:2em;
  }
}

.blackBtns{
  z-index: 10;
}
.fact{
  position: relative;
  z-index: 5;
}
.fact img{
  position: relative;
  width: 96%; 
  height: 96%; 
  left: -5%;       
}
.fact p{
  position: absolute;
  width: 100%; 
  margin: 0;
  top: 33%;
  left: -5%;
  text-align: center; 
}
.mediaPubHeadline{
  position: relative;
}
.mediaPubHeadline img{
  position: relative;
  height: 117%; 
  width: 117%;
  left: -14%;
  top: -30%;
}
.mediaPubHeadline p{
  position: absolute;
  width: 90%;
  margin: 0;
  top: 15%;
  left: -2%;
  text-align: left; 
  overflow: hidden;
  line-height: 3.9vmin;
}
